<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
    <f:form controller="Migrate" action="process" name="migrate" class="form" arguments="{table: table}" >
        <div class="formRow">
            <f:form.hidden property="table" value="fe_groups"/>
            <f:form.submit value="Groups" />
        </div>
    </f:form>
    <f:form controller="Migrate" action="process" name="registration" class="form">
        <div class="formRow">
            <f:form.hidden property="table" value="fe_users"/>
            <f:form.submit value="Users" />
        </div>
    </f:form>
</f:section>

</html>