
<div class="formRow">
    <label><f:translate key="user.title"/></label>
    <f:form.textfield
            id="field_title"
            property="title"
    />
</div>
<div class="formRow">
    <label class="radio"><f:translate key="user.anrede"/> <sup>*</sup></label>
    <div class="formRadio">
        <f:form.radio id="field_andere" property="anrede" value="1" />  <f:translate key="user.anrede_frau"/>
    </div>
    <div class="formRadio">
        <f:form.radio id="field_andere" property="anrede" value="2" />  <f:translate key="user.anrede_herr"/>
    </div>
</div>
<div class="formRow">
    <label><f:translate key="user.firstName"/> <sup>*</sup></label>
    <f:form.textfield
            id="field_firstName"
            property="firstName"
    />
</div>
<div class="formRow">
    <label><f:translate key="user.lastName"/> <sup>*</sup></label>
    <f:form.textfield
            id="field_lastName"
            property="lastName"
    />
</div>
<div class="formRow">
    <label><f:translate key="user.email"/> <sup>*</sup></label>
    <f:form.textfield
            id="field_email"
            property="email"
            type="email"
    />
</div>
<div class="formRow">
    <label><f:translate key="user.telephone"/> <sup>*</sup></label>
    <f:form.textfield
            id="field_telephone"
            property="telephone"
    />
</div>
<div class="formRow">
    <label><f:translate key="user.mobile"/></label>
    <f:form.textfield
            id="field_mobile"
            property="mobile"
    />
</div>
<div class="formRow spacer">
    <label><f:translate key="user.company"/></label>
    <f:form.textfield
            id="field_company"
            property="company"
    />
</div>
<div class="formRow">
    <label><f:translate key="user.funktion"/></label>
    <f:form.textfield
            id="field_function"
            property="function"
    />
</div>
<div class="formRow">
    <label><f:translate key="user.address"/></label>
    <f:form.textfield
            id="field_address"
            property="address"
            class="input-block-level"
    />
</div>
<div class="formRow">
    <label><f:translate key="user.zip"/></label>
    <f:form.textfield
            id="field_zip"
            property="zip"
    />
</div>
<div class="formRow">
    <label><f:translate key="user.city"/></label>
    <f:form.textfield
            id="field_city"
            property="city"
    />
</div>
