<div class="formRow">
    <label for="field_password">
        <f:translate key="user.password"/>
    </label>
    <f:form.password
            id="field_password"
            property="password"
            class="input-block-level {f:if(condition: request.error.password, then: 'f3-form-error')}"
            value=""
    />
</div>
<div class="formRow">
    <label for="field_password_repeat" class="control-label">
        <f:translate key="user.passwordRepeat"/>
    </label>
    <f:form.password
            id="field_password_repeat"
            property="passwordRepeat"
            class="input-block-level"
            value=""
    />
</div>