<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:form.validationResults for="{object}">
	<f:if condition="{validationResults.flattenedErrors}">
		<section>
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<ul>
							<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
								<li>
									<f:translate key="validate.{propertyPath}">{propertyPath}</f:translate>
								</li>
							</f:for>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</f:if>
</f:form.validationResults>
</html>