<!doctype html>
<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      class="no-js"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml">

<body>
<f:layout name="InnerPage"/>

<f:section name="InnerPage">
    <div class="container">
        {v:page.info() -> v:variable.set(name: 'currentPage')}
        <!--TYPO3SEARCH_begin-->
        <section class="gray" id="section-{currentPage.uid}">
            <v:content.render column="0" />
        </section>
        <v:menu pageUid="{f:cObject(typoscriptObjectPath: 'lib.rootPid')}">
            <f:for each="{menu}" as="item" iteration="i">
                {v:content.render(column: 0, pageUid: item.uid) -> v:variable.set(name: 'content')}
                <f:if condition="{content}">
                    <section id="section-{item.uid}" class="{f:if(condition: i.isOdd, then: 'white', else: 'gray')}">
                        <v:content.render column="0" pageUid="{item.uid}" />
                    </section>
                </f:if>
                {v:variable.unset(name: 'content')}
            </f:for>
        </v:menu>
        <!--TYPO3SEARCH_end-->
    </div>
</f:section>
<f:section name="Default">
    <!--TYPO3SEARCH_begin-->
    <f:cObject typoscriptObjectPath="lib.content0"/>
    <!--TYPO3SEARCH_end-->

</f:section>
</body>
</html>
