<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="title">
	<f:translate key="tx_ccevents_domain_model_event.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="text">
	<f:translate key="tx_ccevents_domain_model_event.text" />
</label><br />
	<f:form.textarea property="text" cols="40" rows="15" /><br />
<label for="startDate">
	<f:translate key="tx_ccevents_domain_model_event.start_date" />
</label><br />
	<f:form.textfield property="startDate" value="{event.startDate->f:format.date()}" /><br />
<label for="endDate">
	<f:translate key="tx_ccevents_domain_model_event.end_date" />
</label><br />
	<f:form.textfield property="endDate" value="{event.endDate->f:format.date()}" /><br />
<label for="city">
	<f:translate key="tx_ccevents_domain_model_event.city" />
</label><br />
	<f:form.textfield property="city" /><br />
<label for="price">
	<f:translate key="tx_ccevents_domain_model_event.price" />
</label><br />
	<f:form.textfield property="price" /><br />
<label for="hotel">
	<f:translate key="tx_ccevents_domain_model_event.hotel" />
</label><br />
	<f:form.textfield property="hotel" /><br />
<label for="dressCode">
	<f:translate key="tx_ccevents_domain_model_event.dress_code" />
</label><br />
	<f:form.textfield property="dressCode" /><br />
<label for="downloads">
	<f:translate key="tx_ccevents_domain_model_event.downloads" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
<label for="componentmodules">
	<f:translate key="tx_ccevents_domain_model_event.componentmodules" />
</label><br />
	<f:form.textfield property="componentmodules" /><br />
</html>