<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <f:if condition="{settings.title}">
                    <h2>{settings.title}</h2>
                </f:if>
                <f:if condition="{settings.text}">
                    <p>
                        <f:format.html>{settings.text}</f:format.html>
                    </p>
                </f:if>
            </div>
        </div>
    </div>
</section>

<section class="events">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 events--filters">
                <ul class="events--filters__categories">
                    <f:for each="{pilars}" as="pilar" iteration="i">
                        <li class="category{f:if(condition: '{pilar.uid} == {event.formatType.0.pilar.0.uid}', then: ' active')}">

                            <f:if condition="{pilar.formatType}">
                                <f:link.action action="list" controller="Event" arguments="{pilar : pilar}">{pilar.name}
                                </f:link.action>
                                <ul>
                                    <f:for each="{pilar.formatType}" as="formatType">
                                        <li>
                                            <f:link.action action="list" controller="Event"
                                                           class="{f:if(condition: '{formatType.uid} == {event.formatType.0.uid}', then: 'active')}"
                                                           arguments="{filter : '{format_type : formatType}'}">
                                                {formatType.name}
                                            </f:link.action>
                                        </li>
                                    </f:for>
                                </ul>
                            </f:if>
                        </li>
                    </f:for>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 events--detail__back mobile">
                <f:link.action action="list">{f:translate(key: 'tx_ccevents_domain_model_event.back_to_overview')}
                </f:link.action>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 events--detail__content">
                <div class="mobile">
                    <p class="date">{event.startDate -> f:format.date(format: '%d. %B')}
                        <f:if condition="{event.endDate}"> - {event.endDate -> f:format.date(format:"j.m.Y")}
                        </f:if>
                    </p>
                    <h1>{event.title}</h1>
                    <a href="#" class="icon-arrow-right" data-fancybox="modal" data-src="#register" href="javascript:;">
                        {f:translate(key: 'tx_ccevents_domain_model_event.to_register')}
                    </a>
                </div>
                <div class="desktop">
                    <p>{event.formatType.0.name} - {event.formatType.0.pilar.0.name}</p>
                    <h1>{event.title}</h1>
                </div>
                <div>
                    <f:if condition="{event.text}">
                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{event.text}</f:format.html>
                    </f:if>
                </div>
                <f:if condition="{event.available}">
                    <div class="desktop test">
                        <a class="icon-arrow-right" data-type="ajax" data-fancybox="ajax"
                           data-src="{f:uri.action(action: 'index', controller: 'Registration', pluginName: 'Form', arguments: {event: event.uid}, pageType: '226688', absolute: 1)}"
                           href="">
                            {f:translate(key: 'tx_ccevents_domain_model_event.to_register')}
                        </a>
                    </div>
                </f:if>
            </div>
            <div class="col-xs-12 col-sm-4 events--detail__info">

                <div class="events--detail__info__section">
                    <div class="events--detail__info__section">
                        <h3>{f:translate(key: 'tx_ccevents_domain_model_event.event_data')}</h3>
                        <div class="events--detail__info__section__wrapper">
                            <p class="date desktop">{event.formatedDate}</p>
                            <f:if condition="{event.participantsGroup}">
                                <h4>{f:translate(key: 'tx_ccevents_domain_model_event.participants_group')}:</h4>
                                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{event.participantsGroup}
                                </f:format.html>
                            </f:if>
                            <f:comment>Teilnehmeranzahl</f:comment>
                            <f:if condition="{event.numberOfParticipants}">
                                <h4>{f:translate(key: 'tx_ccevents_domain_model_event.number_of_participants')}:</h4>
                                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{event.numberOfParticipants}
                                </f:format.html>
                            </f:if>
                            <f:if condition="{event.dates}">
                                <h4>{f:translate(key: 'tx_ccevents_domain_model_event.dates')}:</h4>
                                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{event.dates}</f:format.html>
                            </f:if>
                            <f:comment>Voraussetzung</f:comment>
                            <f:if condition="{event.requirement}">
                                <h4>{f:translate(key: 'tx_ccevents_domain_model_event.requirement')}:</h4>
                                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{event.requirement}</f:format.html>
                            </f:if>
                            <f:if condition="{event.price}">
                                <h4>{f:translate(key: 'tx_ccevents_domain_model_event.price')}:</h4>
                                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{event.price}</f:format.html>
                            </f:if>
                            <f:comment>Ablauf</f:comment>
                            <f:if condition="{event.procedure}">
                                <h4>{f:translate(key: 'tx_ccevents_domain_model_event.procedure')}:</h4>
                                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{event.procedure}</f:format.html>
                            </f:if>
                            <f:comment>Dresscode</f:comment>
                            <f:if condition="{event.dressCode}">
                                <h4>{f:translate(key: 'tx_ccevents_domain_model_event.dress_code')}:</h4>
                                <p>{event.dressCode}</p>
                            </f:if>
                            <f:comment>Veranstaltungsort</f:comment>
                            <f:if condition="{event.venue}">
                                <h4>{f:translate(key: 'tx_ccevents_domain_model_event.venue')}:</h4>
                                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{event.venue}</f:format.html>
                            </f:if>
                            <f:if condition="{event.hotel}">
                                <f:then>
                                    <h4>{f:translate(key: 'tx_ccevents_domain_model_event.hotel')}:</h4>
                                    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{event.hotel}</f:format.html>
                                </f:then>
                                <f:else>
                                    <f:comment>Veranstaltungsort und Hotel</f:comment>
                                    <f:if condition="{event.venueAndHotel}">
                                        <h4>{f:translate(key: 'tx_ccevents_domain_model_event.venue_and_hotel')}:</h4>
                                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{event.venueAndHotel}</f:format.html>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </div>
                    </div>
                </div>
                <f:if condition="{event.partner}">
                    <div class="events--detail__info__section">
                        <h3>{f:translate(key: 'tx_ccevents_domain_model_event.cooperation_partners')}</h3>
                        <f:for each="{event.partner}" as="partner">
                            <div class="events--detail__info__section__wrapper">
                                <figure>
                                    <f:image image="{partner.image}" maxWidth="200"/>
                                </figure>
                            </div>
                        </f:for>
                    </div>
                </f:if>
                <div class="events--detail__info__section">
                    <f:if condition="{event.downloads}">
                        <h3>{f:translate(key: 'tx_ccevents_domain_model_event.downloads')}</h3>
                        <div class="events--detail__info__section__wrapper">
                            <f:for each="{event.downloads}" as="file">
                                <f:if condition="{file.originalResource.publicUrl}">
                                    <p class="download">
                                        <a href="{file.originalResource.publicUrl}" target="_blank" class="icon-download"></a>
                                        <a href="{file.originalResource.publicUrl}" target="_blank" class="fileTitle">
                                            {f:if(condition: file.originalResource.title, then:
                                            file.originalResource.title, else: file.originalResource.name)}
                                        </a>
                                        <span class="author">{file.author}</span>
                                        <span class="fileSize">({v:format.case(string: file.originalResource.extension, case: 'upper')}, {file.originalResource.originalFile.properties.size -> f:format.bytes(decimals: 1)})</span>
                                    </p>
                                </f:if>
                            </f:for>
                        </div>
                    </f:if>
                </div>


            </div>
        </div>
    </div>
</section>

</html>