<section class="grey" id="partners">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h2>
                    <f:if condition="{data.tx_mask_bild_text_teaser_main_title}">
                        {data.tx_mask_bild_text_teaser_main_title}
                    </f:if>
                </h2>
                <f:if condition="{data.tx_mask_bild_text_teaser_main_text}">
                    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_bild_text_teaser_main_text}
                    </f:format.html>
                </f:if>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="partners">
                    <f:if condition="{data.tx_mask_bild_text_teaser}">
                        <f:for each="{data.tx_mask_bild_text_teaser}" as="data_item">
                            <f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item.uid}</f:cObject>
                        </f:for>
                    </f:if>
                </div>
            </div>
        </div>
    </div>
</section>