<div class="partners__item">
    <div class="mobile hidden-sm hidden-md hidden-lg">
        <f:if condition="{data.tx_mask_bild_text_teaser_link}">
            <f:link.typolink parameter="{data.tx_mask_bild_text_teaser_link}" class="icon-external-link">
                <f:if condition="{data.tx_mask_bild_text_teaser_title}">
                    {data.tx_mask_bild_text_teaser_title}
                </f:if>
            </f:link.typolink>
        </f:if>
    </div>
    <div class="desktop hidden-xs">
        <figure>
            <f:if condition="{data.tx_mask_bild_text_teaser_image}">
                <f:for each="{data.tx_mask_bild_text_teaser_image}" as="file">
                    <f:image image="{file}" alt="{file.alternative}" title="{file.title}"/>
                </f:for>
            </f:if>
        </figure>
        <div class="text_content">
            <h3>
                <f:if condition="{data.tx_mask_bild_text_teaser_title}">
                    {data.tx_mask_bild_text_teaser_title}
                </f:if>
            </h3>
            <f:if condition="{data.tx_mask_bild_text_teaser_link}">
                <f:link.typolink parameter="{data.tx_mask_bild_text_teaser_link}" class="icon-external-link">
                    <f:if condition="{data.tx_mask_bild_text_teaser_link_title}">
                        {data.tx_mask_bild_text_teaser_link_title}
                    </f:if>
                    <f:comment>
                        {f:translate(key: 'website', extensionName: 'SitePackage')}
                    </f:comment>
                </f:link.typolink>
            </f:if>
        </div>
    </div>
</div>