<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <h2>
                <f:if condition="{data.tx_mask_flip_title}">
                    {data.tx_mask_flip_title}
                </f:if>
            </h2>
            <f:if condition="{data.tx_mask_flip_text}">
                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_flip_text}</f:format.html>
            </f:if>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="threePillarPrinciple">
                <f:if condition="{data.tx_mask_flip_tile}">
                    <f:for each="{data.tx_mask_flip_tile}" as="data_item">
                        <f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item.uid}</f:cObject>
                    </f:for>
                </f:if>
            </div>
        </div>
    </div>
</div>
