<div xmlns:f="http://www.w3.org/1999/html" class="threePillarPrinciple__item">
    <div class="threePillarPrinciple__item__inner">
        <div class="threePillarPrinciple__item__front">
            <h3 class="icon-arrow-down icon-right">
                <f:if condition="{data.tx_mask_flip_kachel_item_title}">
                    {data.tx_mask_flip_kachel_item_title}
                </f:if>
            </h3>
            <f:if condition="{data.tx_mask_flip_kachel_item_link_text}">
                <a href="#" class="icon-arrow-right">{data.tx_mask_flip_kachel_item_link_text}</a>
            </f:if>
        </div>
        <div class="threePillarPrinciple__item__back">
            <p class="icon-arrow-down icon-right">
                <f:if condition="{data.tx_mask_flip_kachel_item_title}">
                    {data.tx_mask_flip_kachel_item_title}
                </f:if>
            </p>
            <f:if condition="{data.tx_mask_flip_kachel_item_text}">
                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_flip_kachel_item_text}</f:format.html>
            </f:if>
            <f:if condition="{data.tx_mask_flip_kachel_item_link_out_text}">
                <a href="#" class="icon-arrow-left">{data.tx_mask_flip_kachel_item_link_out_text}</a>
            </f:if>
        </div>
    </div>
</div>