<f:if condition="{data.tx_mask_home_banner_image}">
    <f:for each="{data.tx_mask_home_banner_image}" as="file">
        <section class="topImage"
                 style="background-image: url('{f:uri.image(src: file.uid, treatIdAsReference: 1)}')"></section>
    </f:for>
</f:if>

