<div class="highlight__item" onclick="window.open('{f:uri.typolink(parameter: data.tx_mask_kastenbildartikellink)}','_self')">
    <figure>
        <f:if condition="{data.tx_mask_kastenbildartikelimage}">
            <f:for each="{data.tx_mask_kastenbildartikelimage}" as="file">
                <f:image image="{file}" maxWidth="826c" maxHeight="478c" width="826c" height="478c"
                         alt="{file.alternative}" title="{file.title}"/>
            </f:for>
        </f:if>
    </figure>
    <div class="highlight__item__text">
        <h3>
            <f:if condition="{data.tx_mask_kastenbildartikeltitle}">
                {data.tx_mask_kastenbildartikeltitle}
            </f:if>
        </h3>
        <f:if condition="{data.tx_mask_kastenbildartikellink}">
            <f:link.typolink parameter="{data.tx_mask_kastenbildartikellink}" class="icon-arrow-right">{f:if(condition: data.tx_mask_kastenbildartikel_label, then: data.tx_mask_kastenbildartikel_label, else: "{f:translate(key: 'ZumDownloadbereich', extensionName: 'SitePackage')}")}</f:link.typolink>
        </f:if>
    </div>
</div>
