<section class="grey">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <f:if condition="{data.tx_mask_kastenmitbildtitle}">
                    <h1>
                        {data.tx_mask_kastenmitbildtitle}
                    </h1>
                </f:if>
                <p>
                    <f:if condition="{data.tx_mask_kastenmitbildtext}">
                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_kastenmitbildtext}
                        </f:format.html>
                    </f:if>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="highlight">
                    <f:if condition="{data.tx_mask_kastenmitbildmehrere}">
                        <f:for each="{data.tx_mask_kastenmitbildmehrere}" as="data_item">
                            <f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item.uid}</f:cObject>
                        </f:for>
                    </f:if>
                </div>
            </div>
        </div>
    </div>
</section>
