<f:if condition="{data.tx_mask_kontakt_teaser_select}">
    <f:switch expression="{data.tx_mask_kontakt_teaser_select}">
        <f:case value="1">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>
                                <f:if condition="{data.tx_mask_kontakt_teaser_title}">
                                    {data.tx_mask_kontakt_teaser_title}
                                </f:if>
                            </h2>
                            <f:if condition="{data.tx_mask_kontakt_teaser_text}">
                                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_kontakt_teaser_text}
                                </f:format.html>
                            </f:if>
                            <f:if condition="{data.tx_mask_kontaktteaser}">
                                <div class="contactPerson">
                                    <f:for each="{data.tx_mask_kontaktteaser}" as="data_item" iteration="iteration">
                                        <f:if condition="{iteration.isEven}">
                                            <f:then>
                                                <div class="contactPerson__item contactPerson__item--inverted">
                                                    <div class="row">
                                                        <f:if condition="{data_item.tx_mask_bild_text_teaser_image}">
                                                            <div class="col-xs-12 col-sm-6 col-sm-push-6 picture">
                                                                <v:content.resources.fal record="{data_item}"
                                                                                         field="tx_mask_bild_text_teaser_image"
                                                                                         as="images">
                                                                    <f:image src="{images.0.uid}" treatIdAsReference="1"
                                                                             alt="{images.0.alternative}"
                                                                             title="{images.0.title}"/>
                                                                </v:content.resources.fal>
                                                            </div>
                                                        </f:if>
                                                        <div class="col-xs-12 col-sm-6 col-sm-pull-6 info">
                                                            <f:if condition="{data_item.tx_mask_text_logo_title}">
                                                                <h3>
                                                                    {data_item.tx_mask_text_logo_title}
                                                                </h3>
                                                            </f:if>
                                                            <f:if condition="{data_item.tx_mask_flip_kachel_item_subtitle}">
                                                                <p>
                                                                    {data_item.tx_mask_flip_kachel_item_subtitle}
                                                                </p>

                                                            </f:if>
                                                            <f:if condition="{data_item.tx_mask_kontakt_teaser_item_link}">
                                                                <f:link.typolink parameter="{data_item.tx_mask_kontakt_teaser_item_link}" class="icon-email icon-grey">{data_item.tx_mask_kontakt_teaser_item_link}</f:link.typolink>
                                                            </f:if>
                                                            <f:if condition="{data_item.tx_mask_kontakt_teaser_phone}">
                                                                <p class="icon-phone icon-grey">
                                                                    {data_item.tx_mask_kontakt_teaser_phone}
                                                                </p>
                                                            </f:if>
                                                        </div>
                                                    </div>
                                                </div>
                                            </f:then>
                                            <f:else>
                                                <div class="contactPerson__item">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-6 picture">
                                                            <f:if condition="{data_item.tx_mask_bild_text_teaser_image}">
                                                                <v:content.resources.fal record="{data_item}"
                                                                                         field="tx_mask_bild_text_teaser_image"
                                                                                         as="images">
                                                                    <f:image src="{images.0.uid}" treatIdAsReference="1"
                                                                             alt="{images.0.alternative}"
                                                                             title="{images.0.title}"/>
                                                                </v:content.resources.fal>
                                                            </f:if>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 info">
                                                            <h3>
                                                                <f:if condition="{data_item.tx_mask_text_logo_title}">
                                                                    {data_item.tx_mask_text_logo_title}
                                                                </f:if>
                                                            </h3>
                                                            <p>
                                                                <f:if condition="{data_item.tx_mask_flip_kachel_item_subtitle}">
                                                                    {data_item.tx_mask_flip_kachel_item_subtitle}
                                                                </f:if>
                                                            </p>
                                                            <f:if condition="{data_item.tx_mask_kontakt_teaser_item_link}">
                                                                <f:link.typolink parameter="{data_item.tx_mask_kontakt_teaser_item_link}" class="icon-email icon-grey">{data_item.tx_mask_kontakt_teaser_item_link}</f:link.typolink>
                                                            </f:if>
                                                            <p class="icon-phone icon-grey">
                                                                <f:if condition="{data_item.tx_mask_kontakt_teaser_phone}">
                                                                    {data_item.tx_mask_kontakt_teaser_phone}
                                                                </f:if>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </f:else>
                                        </f:if>
                                    </f:for>
                                </div>
                            </f:if>
                        </div>
                    </div>
                </div>
            </section>
        </f:case>
        <f:case value="2">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h2>
                                <f:if condition="{data.tx_mask_kontakt_teaser_title}">
                                    {data.tx_mask_kontakt_teaser_title}
                                </f:if>
                            </h2>
                            <f:if condition="{data.tx_mask_kontakt_teaser_text}">
                                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_kontakt_teaser_text}
                                </f:format.html>
                            </f:if>
                            <f:if condition="{data.tx_mask_kontaktteaser}">
                                <div class="contactPerson">
                                    <f:for each="{data.tx_mask_kontaktteaser}" as="data_item" iteration="iteration">
                                        <f:if condition="{iteration.isEven}">
                                            <f:then>
                                                <div class="contactPerson__item contactPerson__item--inverted">
                                                    <div class="row">
                                                        <f:if condition="{data_item.tx_mask_bild_text_teaser_image}">
                                                            <div class="col-xs-12 col-sm-6 col-sm-push-6 picture">
                                                                <v:content.resources.fal record="{data_item}"
                                                                                         field="tx_mask_bild_text_teaser_image"
                                                                                         as="images">
                                                                    <f:image src="{images.0.uid}" treatIdAsReference="1"
                                                                             alt="{images.0.alternative}"
                                                                             title="{images.0.title}"/>
                                                                </v:content.resources.fal>
                                                            </div>
                                                        </f:if>
                                                        <div class="col-xs-12 col-sm-6 col-sm-pull-6 info">
                                                            <f:if condition="{data_item.tx_mask_text_logo_title}">
                                                                <h3>
                                                                    {data_item.tx_mask_text_logo_title}
                                                                </h3>
                                                            </f:if>
                                                            <f:if condition="{data_item.tx_mask_flip_kachel_item_subtitle}">
                                                                <p>
                                                                    {data_item.tx_mask_flip_kachel_item_subtitle}
                                                                </p>

                                                            </f:if>
                                                            <f:if condition="{data_item.tx_mask_kontakt_teaser_item_link}">
                                                                <f:link.typolink parameter="{data_item.tx_mask_kontakt_teaser_item_link}" class="icon-email icon-grey">{data_item.tx_mask_kontakt_teaser_item_link}</f:link.typolink>
                                                            </f:if>
                                                            <f:if condition="{data_item.tx_mask_kontakt_teaser_phone}">
                                                                <p class="icon-phone icon-grey">
                                                                    {data_item.tx_mask_kontakt_teaser_phone}
                                                                </p>
                                                            </f:if>
                                                        </div>
                                                    </div>
                                                </div>
                                            </f:then>
                                            <f:else>
                                                <div class="contactPerson__item">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-6 picture">
                                                            <f:if condition="{data_item.tx_mask_bild_text_teaser_image}">
                                                                <v:content.resources.fal record="{data_item}"
                                                                                         field="tx_mask_bild_text_teaser_image"
                                                                                         as="images">
                                                                    <f:image src="{images.0.uid}" treatIdAsReference="1"
                                                                             alt="{images.0.alternative}"
                                                                             title="{images.0.title}"/>
                                                                </v:content.resources.fal>
                                                            </f:if>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 info">
                                                            <h3>
                                                                <f:if condition="{data_item.tx_mask_text_logo_title}">
                                                                    {data_item.tx_mask_text_logo_title}
                                                                </f:if>
                                                            </h3>
                                                            <p>
                                                                <f:if condition="{data_item.tx_mask_flip_kachel_item_subtitle}">
                                                                    {data_item.tx_mask_flip_kachel_item_subtitle}
                                                                </f:if>
                                                            </p>
                                                            <f:if condition="{data_item.tx_mask_kontakt_teaser_item_link}">
                                                                <f:link.typolink parameter="{data_item.tx_mask_kontakt_teaser_item_link}" class="icon-email icon-grey">{data_item.tx_mask_kontakt_teaser_item_link}</f:link.typolink>
                                                            </f:if>
                                                            <p class="icon-phone icon-grey">
                                                                <f:if condition="{data_item.tx_mask_kontakt_teaser_phone}">
                                                                    {data_item.tx_mask_kontakt_teaser_phone}
                                                                </f:if>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </f:else>
                                        </f:if>
                                    </f:for>
                                </div>
                            </f:if>
                        </div>
                    </div>
                </div>
            </section>
        </f:case>
    </f:switch>
</f:if>