<div class="contactPerson__item">
    <div class="row">
        <div class="col-xs-12 col-sm-6 picture">
            <f:if condition="{data.tx_mask_bild_text_teaser_image}">
                <f:image image="{tx_mask_bild_text_teaser_image}" alt="{tx_mask_bild_text_teaser_image.alternative}"
                         title="{tx_mask_bild_text_teaser_image.title}"/>
            </f:if>
        </div>
        <div class="col-xs-12 col-sm-6 info">
            <h3>
                <f:if condition="{data.tx_mask_text_logo_title}">
                    {data.tx_mask_text_logo_title}
                </f:if>
            </h3>
            <p>
                <f:if condition="{data.tx_mask_flip_kachel_item_subtitle}">
                    {data.tx_mask_flip_kachel_item_subtitle}
                </f:if>
            </p>
            <f:if condition="{data.tx_mask_kontakt_teaser_item_link}">
                <f:link.typolink parameter="{data.tx_mask_kontakt_teaser_item_link}" class="icon-email icon-grey">
                    {data.tx_mask_kontakt_teaser_item_link}
                </f:link.typolink>
            </f:if>
            <p class="icon-phone icon-grey">
                <f:if condition="{data.tx_mask_kontakt_teaser_phone}">
                    {data.tx_mask_kontakt_teaser_phone}
                </f:if>
            </p>
        </div>
    </div>
</div>