<f:if condition="{data.tx_mask_logo_garten}">
    <f:for each="{data.tx_mask_logo_garten}" as="file">
        <f:image image="{file}" alt="{file.alternative}" title="{file.title}"/>
    </f:for>
</f:if>