<table>
    <f:for each="{data.tx_mask_table_rows}" as="row" iteration="i">
        <tr {f:if(condition: row.tx_mask_style, then:'class="{row.tx_mask_style}"')}>
            <f:cObject typoscriptObjectPath="lib.tx_mask.content">{row.uid}</f:cObject>
        </tr>
    </f:for>
</table>