<f:for each="{data.tx_mask_cell_content}" as="cell_content">
    <v:tag name="{f:if(condition: data.tx_mask_is_header, then: 'th', else: 'td')}">
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{cell_content.bodytext}</f:format.html>
    </v:tag>
</f:for>
