<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <f:if condition="{data.tx_mask_textlogotitle}">
                <h2>
                    {data.tx_mask_textlogotitle}
                </h2>
            </f:if>
            <f:if condition="{data.tx_mask_textlogotext}">
                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_textlogotext}</f:format.html>
            </f:if>
            <f:if condition="{data.tx_mask_textlogoimage}">
                <div class="logoSlider ccslider" data-slider-id="logoSlider">
                    <f:for each="{data.tx_mask_textlogoimage}" as="file">
                        <f:link.typolink parameter="{file.link}">
                            <f:image image="{file}" alt="{file.alternative}" title="{file.title}"/>
                        </f:link.typolink>
                    </f:for>
                </div>
            </f:if>
        </div>
    </div>
</div>
