<f:switch expression="{data.tx_mask_text_block_color}">
    <f:case value="1">
        <section class="grey">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <f:if condition="{data.tx_mask_text_block_title}">
                            <h1>
                                {data.tx_mask_text_block_title}
                            </h1>
                        </f:if>
                        <f:if condition="{data.tx_mask_text_block_text}">
                            <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_text_block_text}
                            </f:format.html>
                        </f:if>
                    </div>
                </div>
            </div>
        </section>
    </f:case>
    <f:case value="2">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <f:if condition="{data.tx_mask_text_block_title}">
                            <h1>
                                {data.tx_mask_text_block_title}
                            </h1>
                        </f:if>
                        <f:if condition="{data.tx_mask_text_block_text}">
                            <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_text_block_text}
                            </f:format.html>
                        </f:if>
                    </div>
                </div>
            </div>
        </section>
    </f:case>
    <f:case value="3">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <f:if condition="{data.tx_mask_text_block_title}">
                            <h1>
                                {data.tx_mask_text_block_title}
                            </h1>
                        </f:if>
                        <f:if condition="{data.tx_mask_text_block_text}">
                            <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_text_block_text}
                            </f:format.html>
                        </f:if>
                    </div>
                </div>
            </div>
        </section>
    </f:case>
</f:switch>


