<div class="goals__item">
    <f:if condition="{data.tx_mask_text_kacheln_item_title}">
        <h3>
            {data.tx_mask_text_kacheln_item_title}
        </h3>
    </f:if>
    <f:if condition="{data.tx_mask_text_kacheln_item_text}">
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_text_kacheln_item_text}</f:format.html>
    </f:if>
</div>