{v:iterator.chunk(subject: data.tx_mask_text_kacheln, count: 3)-> v:variable.set(name: 'chunken_kacheln')}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <f:if condition="{data.tx_mask_text_kacheln_title}">
                <h2>
                    {data.tx_mask_text_kacheln_title}
                </h2>
            </f:if>
            <f:if condition="{data.tx_mask_text_kacheln_rte}">
                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_text_kacheln_rte}</f:format.html>
            </f:if>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <f:if condition="{data.tx_mask_text_kacheln}">
                <div class="goals ccslider" data-slider-id="goals">
                    <f:for each="{chunken_kacheln}" as="item">
                        <div class="goals__wrapper">
                            <f:for each="{item}" as="data_item">
                                <f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item.uid}</f:cObject>
                            </f:for>
                        </div>
                    </f:for>
                </div>
            </f:if>
        </div>
    </div>
</div>