<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
    <div id="register">
        <section class="confirmation">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 icon">
                        <span class="icon-checkbox"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text">
                        <h2><f:translate key="confirmation.thank_you" arguments="{0: '{f:translate(key: \'confirmation.dear.{registration.anrede}\')}', 1: '{f:translate(key: \'tx_ccevents_domain_model_registration.anrede.{registration.anrede}\')}', 2: '{registration.firstName -> v:or(alternative: registration.first_name)}', 3: '{registration.lastName -> v:or(alternative: registration.last_name)}'}" /></h2>
                        <p>
                            <f:translate key="confirmation.thank_you_for_interested" arguments="{0: event.title}" /><br>
                            <f:translate key="confirmation.received_registration" />
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="contact">
                        <v:content.render column="0" pageUid="{settings.contact}" render="1" />
                    </div>
                </div>
            </div>
        </section>
    </div>
</f:section>

</html>