<span class="preheader"></span>
<table class="body">
    <tr>
        <td class="center" align="center" valign="top">
            <center data-parsed="">

                <table align="center" class="container float-center">
                    <tbody>
                    <tr>
                        <td>
                            <table class="row">
                                <tbody>
                                <tr>
                                    <th class="small-12 large-12 columns first">
                                        <table>
                                            <tr>
                                                <th>
                                                    <h1><f:translate key="mail.admin.good_day"/></h1>
                                                    <p><f:translate key="mail.admin.user_registred" arguments="{0: event.formatType.0.name, 1: event.formatType.0.pilar.0.name}"/></p>
                                                    <p><b><f:translate key="mail.admin.subscriber_data"/></b></p>

                                                    <hr>
                                                </th>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                                <tr>
                                    <td class="small-12 large-12 columns first">
                                        <f:render partial="Form/Fields" arguments="{_all}"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </center>
        </td>
    </tr>
</table>
<!-- prevent Gmail on iOS font size manipulation -->
<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</div>