<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Pilar</h1>

<f:flashMessages />

<table  class="tx_ccevents" >
	<tr>
		<th><f:translate key="tx_ccevents_domain_model_pilar.name" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{pilars}" as="pilar">
		<tr>
			<td><f:link.action action="show" arguments="{pilar : pilar}"> {pilar.name}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{pilar : pilar}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{pilar : pilar}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Pilar</f:link.action>
</f:section>
</html>