<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

  <f:comment>
    <f:render partial="FormErrors" arguments="{object:User}" />
  </f:comment>
  <section class="separator profile">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <h2><f:translate key="user.changePasswort"/></h2>
          <f:form action="update" name="user" object="{user}" >
            <f:render partial="User/FormFields" arguments="{_all}" />
            <div class="formRow">
              <f:form.submit value="{f:translate(key: 'user.edit_data')}" />
            </div>
          </f:form>
        </div>
      </div>
    </div>
  </section>
  <section class="separator profile password">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <h2><f:translate key="user.change_password" /></h2>
          <f:form action="passwordUpdate" name="user" object="{user}">
            <f:render partial="User/FormFieldsPass" arguments="{_all}" />
            <div class="formRow">
              <f:form.submit value="{f:translate(key: 'user.change_password')}" />
            </div>
          </f:form>
        </div>
      </div>
    </div>
  </section>
</f:section>
</html>