<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">
    <v:asset.script name="filter" movable="1" trim="1">
        $('body').on({
        submit: function() { filterDownload($(this)); return false; },
        ifToggled: function() { filterDownload($(this).parents('form')); }
        }, '.downloads--search, input');

        function filterDownload(form) {
        var data = form.serializeArray(), url = form.attr('action');
        form.addClass('loading');
        $.post(url, data, function(response) {
        $('.tx-cc-events').html($(response).find('.tx-cc-events'));

        $('input').iCheck();
        $('.downloads--list__item h4').click(function() {
        if($(this).hasClass('active')) {
        $(this).siblings('.downloadContent').slideUp();
        $(this).toggleClass('active');
        } else {
        $(this).siblings('.downloadContent').slideDown();
        $(this).toggleClass('active');
        }
        });
        });
        }
    </v:asset.script>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <f:if condition="{settings.title}">
                        <h1>{settings.title}</h1>
                    </f:if>
                    <f:if condition="{settings.text}">
                        <p>
                            <f:format.html>{settings.text}</f:format.html>
                        </p>
                    </f:if>
                    <f:form action="download" name="filter" object="{args.filter}" class="downloads--search">
                        <f:form.textfield property="sword"
                                          placeholder="{f:translate(key: 'tx_ccevents_domain_model_event.search_date')}"/>
                        <f:form.submit value="{f:translate(key: 'tx_ccevents_domain_model_event.search')}"/>
                    </f:form>
                </div>
            </div>
        </div>
    </section>
    <section class="grey">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="downloads--filters">
                        <f:form action="download" name="filter" object="{args.filter}">
                            <div class="formRow">
                                <label>{f:translate(key: 'tx_ccevents_domain_model_event.format')}</label>
                                <f:for each="{formats}" as="format">
                                    <div class="formCheck">
                                        <f:form.checkbox id="f{format.uid}" property="format_type" multiple="true"
                                                         value="{format.uid}"/>
                                        <label for="f{format.uid}">{format.name}</label>
                                    </div>
                                </f:for>
                            </div>
                            <div class="formRow">
                                <label>{f:translate(key: 'tx_ccevents_domain_model_event.period')}</label>
                                <f:for each="{datePeriods}" as="date">
                                    <div class="formCheck">
                                        <f:form.checkbox id="d{date.uid}" property="date_period" multiple="true"
                                                         value="{date.uid}"/>
                                        <label for="d{date.uid}">
                                            {date.year}
                                        </label>
                                    </div>
                                </f:for>
                            </div>
                        </f:form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="downloads--list">
                        <f:for each="{events -> v:iterator.unique()}" as="event">
                            <div class="downloads--list__item">
                                <p class="date">{event.formatedDate}</p>
                                <f:comment>
                                    <h3><span>{event.formatType.0.name}</span> - {event.formatType.0.pillar.0.name}</h3>
                                </f:comment>
                                <h3><span>{event.title}</span></h3>
                                <f:if condition="{event.downloads}">
                                    <h4>{f:translate(key: 'tx_ccevents_domain_model_event.downloads')}</h4>
                                    <div class="downloadContent">
                                        <f:for each="{event.downloads -> v:iterator.sort(sortBy: 'originalResource.title', order: 'ASC')}"
                                               as="file">
                                            <f:if condition="{file.allowed}">
                                                <p class="download">
                                                    <a href="{file.originalResource.publicUrl}"
                                                       class="icon-download" target="_blank"></a>
                                                    <span class="documentDate">{f:format.date(date: file.originalResource.creationTime, format:"j.m.Y")}</span>
                                                    <a href="{file.originalResource.publicUrl}" class="fileTitle"
                                                       target="_blank">{file.originalResource.title}</a>
                                                    <span class="fileFormat">{v:format.case(string: file.originalResource.extension, case: 'upper')}</span>
                                                    <span class="fileSize">{file.originalResource.size -> f:format.bytes(decimals: 1, decimalSeparator: ',', thousandsSeparator: '.')}</span>
                                                </p>
                                            </f:if>
                                        </f:for>
                                    </div>
                                </f:if>
                            </div>
                        </f:for>
                    </div>
                </div>
            </div>
        </div>
    </section>
</f:section>
</html>