<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <f:if condition="{settings.title}">
                        <h1>{settings.title}</h1>
                    </f:if>
                    <f:if condition="{settings.text}">
                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{settings.text}</f:format.html>
                    </f:if>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="accordion">
                        <f:for each="{pilars}" as="pilar" iteration="i">
                            <!-- start: Accordion Item -->
                            <div class="accordion__item">
                                <h3>{pilar.name}</h3>
                                <div class="accordion__item__content">
                                    <f:if condition="{pilar.text}">
                                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{pilar.text}</f:format.html>
                                    </f:if>
                                    <f:if condition="{pilar.link}">
                                        <f:link.typolink class="icon-arrow-right" parameter="{pilar.link}">
                                            {f:if(condition: pilar.label, then: pilar.label, else: '{f:translate(key: "tx_ccevents_domain_model_event.event_overview")}')}
                                        </f:link.typolink>
                                    </f:if>
                                </div>
                            </div>
                            <!-- end: Accordion Item -->
                        </f:for>
                    </div>
                </div>
            </div>
        </div>
    </section>
</f:section>
</html>