<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">
    <section class="events"
             data-source="{f:uri.action(action: 'list', pageType: 19852604, format: 'json', absolute: 1)}"
             data-limit="2"
             data-active-filter="{args.filter.format_type}">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 events--filters">
                    <div class="events--filters__count">
                        <p>{events -> f:count()} {f:translate(key: 'tx_ccevents_domain_model_event.events')} </p>
                        <a href="#">{f:translate(key: 'tx_ccevents_domain_model_event.filters')}</a>
                    </div>

                    <ul class="events--filters__categories test-1">
                        <f:for each="{pilars}" as="pilar" iteration="i">
                            <li class="category {f:if(condition: i.index, then: '', else: 'active')}">
                                <f:if condition="{pilar.formatType}">
                                    <a href="#">{pilar.name}</a>
                                    <ul>
                                        <f:for each="{pilar.formatType}" as="formatType">
                                            <li>
                                                <a href="#"
                                                   class="{f:if(condition: '{formatType.uid==event.formatType.uid}', then: 'active', else: '')}"
                                                   data-filter-id="{formatType.uid}">{formatType.name}</a>
                                            </li>
                                        </f:for>
                                    </ul>
                                </f:if>
                            </li>
                        </f:for>
                    </ul>
                </div>
            </div>
            <div class="row">
                <f:flashMessages />
                <div class="col-xs-12 events--list">

                </div>
            </div>
        </div>
    </section>
</f:section>
</html>