<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h1><f:translate key="tx_ccevents_domain_model_registration.kommende" /></h1>
                    <div class="eventsSlider ccslider" data-slider-id="eventsSlider" data-destroy-slider="false">

                        <f:for each="{events}" as="event">
                            <div class="eventsSlider__item">
                                <p class="date">
                                    {event.startDate -> f:format.date(format:"%e. %B")}
                                    <f:if condition="{event.endDate} && ({event.startDate -> f:format.date(format: '%d. %B')} != {event.endDate -> f:format.date(format: '%d. %B')})">
                                        <f:then>
                                            <f:translate key="tx_ccevents_domain_model_registration.bis" /> {event.endDate -> f:format.date(format:"%e. %B %Y")}
                                        </f:then>
                                        <f:else>
                                            {event.startDate -> f:format.date(format: '%Y')}
                                        </f:else>
                                    </f:if>
                                </p>
                                <h3><f:link.action action="show" pluginName="Events" pageUid="{settings.detailPid}" arguments="{event : event}">{event.title}</f:link.action></h3>
                                <p class="teaser">
                                    <f:if condition="{event.text}">
                                        <f:format.crop maxCharacters="120" respectWordBoundaries="true">
                                            {f:format.stripTags(value: event.text)}
                                        </f:format.crop>
                                    </f:if>
                                </p>
                            </div>
                        </f:for>
                    </div>
                    <f:if condition="{settings.link}">
                        <f:link.typolink class="icon-arrow-right" parameter="{settings.link}">{f:if(condition: settings.label, then: settings.label, else: 'Veranstaltungsübersicht')}</f:link.typolink>
                    </f:if>
                </div>
            </div>
        </div>
    </section>
</f:section>
</html>