{{#each posts}}
<div class="events--list__item" data-filter-id="{{filterID}}">
	<p class="date">{{formatedDate}}</p>
	{{#if series}}
		<p class="series">{{ series }}</p>
	{{/if}}
	<h3><a href="{{url}}"><span>{{title}}</span></a></h3>
	<p class="teaser">{{teaser}}</p>
	<div class="links">
		<a href="{{terminImportUrl}}" class="icon-arrow-right">Termin importieren</a>
		{{#if available}}
		<a class="icon-arrow-right" data-type="ajax" data-fancybox="ajax" data-src="{{registerEventUrl}}" href="javascript:;">Zur Anmeldung</a>
		{{/if}}
	</div>
</div>
{{/each}}
