<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Backend" />

<f:section name="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <h2>Registration Users</h2>
            </div>
            <div class="col-xs-4">
                <f:link.action action="process" class="btn btn-default pull-right">Excel</f:link.action>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>SUM</th>
                </tr>
            </thead>
            <tbody>
                <f:groupedFor each="{registrations}" as="users" groupBy="email" groupKey="email">
                    {users -> v:iterator.first() -> v:variable.set(name: 'user')}
                    <tr>
                        <td>{user.firstName}</td>
                        <td>{user.lastName}</td>
                        <td>{user.email}</td>
                        <td>{users -> v:iterator.extract(key: 'event') -> v:iterator.unique() -> f:count()}</td>
                    </tr>
                    {v:variable.unset(name: 'user')}
                </f:groupedFor>
            </tbody>
        </table>
    </div>
</f:section>

</html>