<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-cc-events" >
	<tr>
		<td>
			<f:translate key="tx_ccevents_domain_model_partner.name" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>