@media screen and (min-width: 992px) {

    .header .mainMenu li {
        display: block;
        float: left;
        padding-right: 45px !important;
    }

}
@media screen and (max-width: 991px) {
    table {
        font-size: 13px;
        line-height: 21px;
    }
    .events--filters__categories li.category.active>a::before{
        bottom: -12px;
    }
}
.logoSlider a img{
  width:auto;
}
.orange{
    color: #F08200;
}
b, optgroup, strong {
    font-weight: 700;
}