table {
    border-collapse: collapse !important
}
table tr td, table tr th {
    font-family: Arial
}
table {
    width: 100%;
    text-align: left;
    font-size: 12px;
    line-height: 14px
}
table td, table th {
    vertical-align: top;
    background-color: #F0F0F0
}
table tr {
    position: relative;
    overflow: hidden
}
table tr.highlight td {
    background-color: #DFDEDD
}
table tr.orange td {
    background-color: #F08200;
    color: #FFF
}
table tr th {
    padding: 20px 6px 8px;
    background-color: #DFDEDD
}
table tr td {
    padding: 7px 8px 6px;
    border-top: 1px solid #dfdedd
}
h3.orange{
    color: #F08200;
}