<table>
    <tr>
        <td><f:translate key="tx_ccevents_domain_model_registration.title" /></td>
        <td>{registration.title}</td>
    </tr>
    <tr>
        <td><f:translate key="tx_ccevents_domain_model_registration.anrede" /></td>
        <td><f:translate key="tx_ccevents_domain_model_registration.anrede.{registration.anrede}" /></td>
    </tr>
    <tr>
        <td><f:translate key="tx_ccevents_domain_model_registration.lastName" /></td>
        <td>{registration.lastName}</td>
    </tr>
    <tr>
        <td><f:translate key="tx_ccevents_domain_model_registration.firstName" /></td>
        <td>{registration.firstName}</td>
    </tr>
    <tr>
        <td><f:translate key="tx_ccevents_domain_model_registration.email" /></td>
        <td>{registration.email}</td>
    </tr>
    <tr>
        <td><f:translate key="tx_ccevents_domain_model_registration.telephone" /></td>
        <td>{registration.telephone}</td>
    </tr>
    <tr>
        <td><f:translate key="tx_ccevents_domain_model_registration.mobile" /></td>
        <td>{registration.mobile}</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><f:translate key="tx_ccevents_domain_model_registration.company" /></td>
        <td>{registration.company}</td>
    </tr>
    <tr>
        <td><f:translate key="tx_ccevents_domain_model_registration.function" /></td>
        <td>{registration.function}</td>
    </tr>
    <tr>
        <td><f:translate key="tx_ccevents_domain_model_registration.address" /></td>
        <td>{registration.address}</td>
    </tr>
    <tr>
        <td><f:translate key="tx_ccevents_domain_model_registration.zip" /></td>
        <td>{registration.zip}</td>
    </tr>
    <tr>
        <td><f:translate key="tx_ccevents_domain_model_registration.city" /></td>
        <td>{registration.city}</td>
    </tr>
    <tr>
        <td><f:translate key="tx_ccevents_domain_model_registration.description" /></td>
        <td>{registration.description}</td>
    </tr>
</table>