<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="register">
    <section class="registerInfo">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>{f:translate(key: 'tx_ccevents_domain_model_registration.registration')}</h1>
                    <p>{event.formatType.0.name} - {event.formatType.0.pilar.0.name}</p>
                    <h2 class="test">{event.title}</h2>

                    <f:if condition="{event.dates}">
                        <f:then>
                            <h2>{f:translate(key: 'tx_ccevents_domain_model_event.dates')}:</h2>
                            <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{event.dates}</f:format.html>
                        </f:then>
                        <f:else>
                            <f:if condition="{event.formatedDateTime}">
                                <h2>{f:translate(key: 'tx_ccevents_domain_model_registration.date')}:</h2>
                                <p>{event.formatedDateTime} <f:comment>{f:translate(key: 'tx_ccevents_domain_model_registration.uhr')}</f:comment></p>
                            </f:if>
                        </f:else>
                    </f:if>
                    <f:if condition="{event.price}">
                        <h2>{f:translate(key: 'tx_ccevents_domain_model_event.price')}:</h2>
                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{event.price}</f:format.html>
                    </f:if>
                    <f:if condition="{event.hotel}">
                        <h2>{f:translate(key: 'tx_ccevents_domain_model_event.hotel')}:</h2>
                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{event.hotel}</f:format.html>
                    </f:if>
                    <f:if condition="{event.registrationInfo}">
                        <h2>{f:translate(key: 'tx_ccevents_domain_model_event.registrationInfo')}:</h2>
                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{event.registrationInfo}</f:format.html>
                    </f:if>
                </div>
            </div>
        </div>
    </section>
    <section class="separator profile">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <f:comment><f:render partial="FormErrors" arguments="{object:inquiry}" /></f:comment>
                    <h2><f:translate key="tx_ccevents_domain_model_registration.subscriber" /></h2>
                   
                    <f:form pageType="226688" controller="Registration" pluginName="form" action="process" arguments="{event: event}" name="registration" object="{registration}" class="form validate" id="form_contact_registration">
                        <div class="formRow">
                            <label for="registration_title"><f:translate key="tx_ccevents_domain_model_registration.title" /></label>
                            <f:form.textfield property="title" id="registration_title" placeholder="{f:translate(key: 'tx_ccevents_domain_model_registration.titlePlaceholder')}"/>
                        </div>
                        <div class="formRow">
                            <label class="radio"><f:translate key="tx_ccevents_domain_model_registration.anrede" /> <sup>*</sup></label>
                            <div class="formRadio">
                                <f:form.radio property="anrede" id="registration_anrede_1" value="1"/>
                                <label for="registration_anrede_1"><f:translate key="tx_ccevents_domain_model_registration.anrede.1" /></label>
                            </div>
                            <div class="formRadio">
                                <f:form.radio property="anrede" id="registration_anrede_2" value="2"/>
                                <label for="registration_anrede_2"><f:translate key="tx_ccevents_domain_model_registration.anrede.2" /></label>
                            </div>
                        </div>
                        <div class="formRow">
                            <label for="registration_name"><f:translate key="tx_ccevents_domain_model_registration.lastName" /> <sup>*</sup></label>
                            <f:form.textfield property="lastName" id="registration_name" value="{registration.last_name}" placeholder="{f:translate(key: 'tx_ccevents_domain_model_registration.lastNamePlaceholder')}" readonly="{registration.last_name}"/>
                        </div>
                        <div class="formRow">
                            <label for="registration_firstname"><f:translate key="tx_ccevents_domain_model_registration.firstName" /> <sup>*</sup></label>
                            <f:form.textfield property="firstName" id="registration_firstname" value="{registration.first_name}" placeholder="{f:translate(key: 'tx_ccevents_domain_model_registration.firstNamePlaceholder')}" readonly="{registration.first_name}"/>
                        </div>
                        <div class="formRow">
                            <label for="registration_email"><f:translate key="tx_ccevents_domain_model_registration.email" /> <sup>*</sup></label>
                            <f:form.textfield property="email" id="registration_email" placeholder="{f:translate(key: 'tx_ccevents_domain_model_registration.emailPlaceholder')}" readonly="{registration.email}"/>
                        </div>
                        <div class="formRow">
                            <label for="registration_telephone"><f:translate key="tx_ccevents_domain_model_registration.telephone" /> <sup>*</sup></label>
                            <f:form.textfield property="telephone" id="registration_telephone" placeholder="{f:translate(key: 'tx_ccevents_domain_model_registration.telephonePlaceholder')}"/>
                        </div>
                        <div class="formRow">
                            <label for="registration_mobile"><f:translate key="tx_ccevents_domain_model_registration.mobile" /></label>
                            <f:form.textfield property="mobile" id="registration_mobile" placeholder="{f:translate(key: 'tx_ccevents_domain_model_registration.mobilePlaceholder')}"/>
                        </div>
                        <div class="formRow spacer">
                            <label for="registration_company"><f:translate key="tx_ccevents_domain_model_registration.company" /></label>
                            <f:form.textfield property="company" id="registration_company" placeholder="{f:translate(key: 'tx_ccevents_domain_model_registration.companyPlaceholder')}"/>
                        </div>
                        <div class="formRow">
                            <label for="registration_function"><f:translate key="tx_ccevents_domain_model_registration.function" /></label>
                            <f:form.textfield property="function" id="registration_function" placeholder="{f:translate(key: 'tx_ccevents_domain_model_registration.functionPlaceholder')}"/>
                        </div>
                        <div class="formRow">
                            <label for="registration_address"><f:translate key="tx_ccevents_domain_model_registration.address" /></label>
                            <f:form.textfield property="address" id="registration_address" placeholder="{f:translate(key: 'tx_ccevents_domain_model_registration.addressPlaceholder')}"/>
                        </div>
                        <div class="formRow">
                            <label for="registration_zip"><f:translate key="tx_ccevents_domain_model_registration.zip" /></label>
                            <f:form.textfield property="zip" id="registration_zip" placeholder="{f:translate(key: 'tx_ccevents_domain_model_registration.zipPlaceholder')}"/>
                        </div>
                        <div class="formRow">
                            <label for="registration_city"><f:translate key="tx_ccevents_domain_model_registration.city" /></label>
                            <f:form.textfield property="city" id="registration_city" placeholder="{f:translate(key: 'tx_ccevents_domain_model_registration.cityPlaceholder')}"/>
                        </div>
                        <div class="formRow">
                            <label for="registration_description"><f:translate key="tx_ccevents_domain_model_registration.description" /></label>
                            <f:form.textarea property="description" id="registration_description" placeholder="{f:translate(key: 'tx_ccevents_domain_model_registration.descriptionPlaceholder')}"/>
                        </div>
                        <div class="formRow noLabel">
                            <div class="formCheck">
                                <f:form.checkbox property="terms" id="registration_terms" value="1"/>
                                <v:variable.set name="termsLink"><f:link.page pageUid="{settings.terms}" target="_blank"><f:translate key="tx_ccevents_domain_model_registration.terms" /></f:link.page></v:variable.set>
                                <label for="registration_terms"><f:format.raw><f:translate key="tx_ccevents_domain_model_registration.terms_accept" arguments="{0: termsLink}" /></f:format.raw></label>
                            </div>
                        </div>
                        <div class="formRow">
                            <f:form.submit id="submitRegistration" class="disabled" disabled="disabled" value="{f:translate(key: 'tx_ccevents_domain_model_registration.confirm_login')}" />
                        </div>
                    </f:form>
                </div>
            </div>
        </div>
    </section>
</div>
</html>