<f:cObject typoscriptObjectPath="lib.felogin" />
<section class="footerLogo">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <f:image src="EXT:site_package/Resources/Public/img/finanzgruppe_logo.png" />
                <a href="#" class="toTop icon-arrow-up"></a>
            </div>
        </div>
    </div>
</section>

<div id="menuOverlay"></div>
<v:menu pageUid="{f:cObject(typoscriptObjectPath: 'lib.footerNavPid')}">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <nav>
                        <ul>
                            <f:for each="{menu}" as="item" iteration="i">
                                <li {f:if(condition: item.active, then:'class="active"')}>
                                    <f:link.page pageUid="{item.uid}" title="{item.linktext}" target="_blank" class="level_1">{item.linktext}</f:link.page>
                                </li>
                            </f:for>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
</v:menu>