<html xmlns="http://www.w3.org/1999/html"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace nf=Netfed\CcFeuser\ViewHelpers}
<header class="header">
{f:cObject(typoscriptObjectPath: 'lib.rootPid') -> v:variable.set(name: 'rootPid')}
{f:cObject(typoscriptObjectPath: 'lib.loginPageFormPid') -> v:variable.set(name: 'loginPageFormPid')}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="#" class="menuToggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <f:link.page pageUid="{f:cObject(typoscriptObjectPath: 'lib.rootPid')}" class="logo">
                    <img src="typo3conf/ext/site_package/Resources/Public/img/Corporate_Campus.svg">
                </f:link.page>
                <f:security.ifAuthenticated>
                    <f:then>
                        <f:link.action action="edit"
                                       extensionName="CcFeuser"
                                       pluginName="Feuser"
                                       controller="User"
                                       class="mobileUser icon-user"
                                       pageUid="{f:cObject(typoscriptObjectPath: 'lib.editProfilePid')}">
                        </f:link.action>
                    </f:then>
                    <f:else>
                        <a data-fancybox="modal" data-src="#login" href="javascript:;"
                           class="mobileUser icon-user"></a>
                    </f:else>
                </f:security.ifAuthenticated>
                <div class="claim"><p>{f:translate(key: 'hedertext', extensionName: 'SitePackage')}</p></div>
                <nav class="mainMenu anchors">
                    <v:menu pageUid="{f:cObject(typoscriptObjectPath: 'lib.rootPid')}">
                        <ul>
                            <f:for each="{menu}" as="item" iteration="i">
                                <li {f:if(condition: item.active, then:'class="active"')}>
                                    <f:security.ifAuthenticated>
                                        <f:then>
                                            <f:link.page pageUid="{item.uid}" title="{item.linktext}">{item.linktext}
                                            </f:link.page>
                                        </f:then>
                                        <f:else>
                                            <a href="{f:uri.page(pageUid: rootPid, absolute: 1)}#section-{item.uid}" title="{item.linktext}">{item.linktext}</a>
                                        </f:else>
                                    </f:security.ifAuthenticated>
                                </li>
                            </f:for>
                            <f:security.ifAuthenticated>
                                <li class="logout">
                                    <f:link.typolink parameter="{v:page.info(field: 'uid')}" additionalParams="logintype=logout">
                                        {f:translate(key: 'logout', extensionName: 'SitePackage')}
                                    </f:link.typolink>
                                </li>
                            </f:security.ifAuthenticated>
                        </ul>
                    </v:menu>
                </nav>

                <nav class="userAndDownload">
                    <v:menu pageUid="{f:cObject(typoscriptObjectPath: 'lib.rightNavPid')}">
                        <ul>
                            <f:for each="{menu}" as="item" iteration="i">
                                <li {f:if(condition: item.active, then:'class="active"')}>
                                    <f:security.ifAuthenticated>
                                        <f:then>
                                            <f:if condition="{item.uid} == {f:cObject(typoscriptObjectPath: 'lib.editProfilePid') -> v:variable.convert(type:'integer')}">
                                                <f:then>
                                                    <f:link.action action="edit"
                                                                   extensionName="CcFeuser"
                                                                   pluginName="Feuser"
                                                                   controller="User"
                                                                   class="{item.tx_mask_menu_icon} icon-right"
                                                                   pageUid="{f:cObject(typoscriptObjectPath: 'lib.editProfilePid')}">
                                                        <f:cObject typoscriptObjectPath="lib.loggedInUser"/>

                                                    </f:link.action>
                                                    <ul>
                                                        <li>
                                                            <f:link.typolink class="icon-logout icon-right" parameter="1" additionalParams="logintype=logout">
                                                                {f:translate(key: 'logout', extensionName: 'SitePackage')}
                                                            </f:link.typolink>
                                                        </li>
                                                    </ul>
                                                </f:then>
                                                <f:else>
                                                    <f:link.page pageUid="{item.uid}" title="{item.linktext}"
                                                                 class="{item.tx_mask_menu_icon} icon-right">{item.linktext}
                                                    </f:link.page>
                                                </f:else>
                                            </f:if>
                                        </f:then>
                                        <f:else>
                                            <f:if condition="{nf:IsForgotPassword()}">
                                                <f:then>
                                                    <f:link.page pageUid="{loginPageFormPid}" title="{v:page.info(pageUid: loginPageFormPid, field: 'title')}"
                                                                 class="{item.tx_mask_menu_icon} icon-right">
                                                        {v:page.info(pageUid: loginPageFormPid, field: 'title')}
                                                    </f:link.page>
                                                </f:then>
                                                <f:else>
                                                    <a data-fancybox="modal" data-src="#login" href="javascript:;"
                                                       class="{item.tx_mask_menu_icon} icon-right">{f:translate(key: 'participants_area', extensionName: 'SitePackage')}</a>
                                                </f:else>
                                            </f:if>
                                        </f:else>
                                    </f:security.ifAuthenticated>
                                </li>
                            </f:for>
                        </ul>
                    </v:menu>
                </nav>
            </div>
        </div>
    </div>
</header>
</html>