<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:render partial="Header" arguments="{_all}"/>
<f:switch expression="{data.layout}">
    <f:case value="3">
        <f:security.ifAuthenticated>
            <f:then>
                <f:render section="Default"/>
            </f:then>
            <f:else>
                <f:render section="OnePager"/>
            </f:else>
        </f:security.ifAuthenticated>
    </f:case>
    <f:case value="4">
        <f:render section="InnerPage"/>
    </f:case>
    <f:case default="TRUE">
        <f:render section="Default"/>
    </f:case>
</f:switch>
<f:render partial="Footer" arguments="{_all}"/>
</html>